<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emoji-Generator</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">
</head>

<body>
    <h1 class="page-title">Emoji-Generator</h1>
    <div class="page-wrapper">
        <div class="main-container">
            <div class="left-container">
                <form action="/generate" method="post">
                    <textarea name="input" placeholder="Gib deinen Satz ein ..."></textarea>
                    <input type="submit" value="OK">
                </form>
            </div>
            <div class="right-container">
                <output>
                    Hier ist dein Satz mit passendem Emoji ...
                </output>
            </div>
        </div>
        <div class="bottom-container">
            <h4>Hinweis:</h4>
            <p>Gib deinen Satz ein und lass dir den Text mit passenden Emojis vom Emoji-Generator ausgeben.</p>
            <p>An dieser Stelle gibt es vielleicht noch ein paar adaptive Features ...</p>
        </div>
    </div>
</body>

</html>